body{
    margin: 0px;
    padding: 0px;
}
.table{
    margin: 0 auto;
    width: 500px;
    text-align: center;
}
caption{
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bolder;
    color: orangered;
    text-shadow: 0 0 20px black;
    margin: 10px 0;
}
.dong1{
    background-color: greenyellow;
    margin:5px 0;
}
.dong2{
    background-color: khaki;
}

/*tong chieu dai =100% */
.col1{
    width: 15%;
}

.col2{
    width: 25%;
}

.col3{
    width: 15%;
}

.col4{
    width: 25%;
}

.col5{
    width: 20%;
}

footer{
    border-top: 5px double black;
    line-height: 50px;
    background-color: black;
    text-align: center;
    font-variant: small-caps;
    clear: both;
    color: orangered;
}